* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Comic Sans MS' , sans-serif;
    color: #fff;
}

.header {
    padding: 20px 0;
    text-align: center;
    background: #6828FF;
}

.wrap {
    height: 100%;
}

.main {
    width: 60%;
    height: 100%;
    padding: 20px;
    float: left;
    color: #000;
}

.main h4 {
    margin-bottom: 20px;
}

.navigation, .link {
    width: 20%;
    height: 100%;
    padding: 20px;
}

.navigation {
    float: left;
    clear: right;
    background: #FF9D00;
}

.link {
    background: #AA00FF;
    float: right;
}

.footer {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background: #6AFF5F;
}

@media (max-width: 700px) {

    .wrap {
        clear: both;
        height: auto;
    }

    .main {
        width: 100%;
        float: none;
    }

    .navigation, .link {
        width: 100%;
        height: 90px;
        float: none;
    }
}
