* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Comic Sans MS' , sans-serif;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr;
}

.header {
    padding: 20px 0;
    text-align: center;
    background: #6828FF;
}

.wrap {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.main {
    padding: 20px;
    color: #000;
}

.main h4 {
    margin-bottom: 20px;
}

.navigation, .link {
    padding: 20px;
    height: 100%;
}

.navigation {
    background: #FF9D00;
}

.link {
    background: #AA00FF;
}

.footer {
    padding: 20px 0;
    text-align: center;
    background: #6AFF5F;
}

@media (max-width: 700px) {
    .wrap {
        display: block;
    }

    .navigation, .link {
        height: auto;
    }
}
