* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Comic Sans MS' , sans-serif;
    color: #fff;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6828FF;
}

.wrap {
    display: flex;
    height: 100%;
}

.main {
    flex: 3;
    padding: 20px;
    color: #000;
}

.main h4 {
    margin-bottom: 20px;
}

.navigation, .link {
    flex: 1;
    padding: 20px;
}

.navigation {
    background: #FF9D00;
}

.link {
    background: #AA00FF;
}

.footer {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6AFF5F;
}

@media (max-width: 700px) {
    .wrap {
        flex-direction: column;
    }
}
